.signup-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #BF9B6F;
}

.signup-container{
  width: 500px;
  background: #fff;
  text-align: center;
  padding: 50px 35px 10px 35px;
  backdrop-filter: blur(21px) saturate(107%);
  -webkit-backdrop-filter: blur(21px) saturate(107%);
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  text-align: center;
}

.signup-container header{
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.signup-container .form-outer{
  width: 100%;
  overflow: hidden;
}

.signup-container .form-outer form{
  display: flex;
  width: 500%;
}

.form-outer form .page {
  width: 25%;
  position: relative;
  transition: margin-left 0.3s ease-in-out;  
}

.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.field-box {
  height: 400px
}

.form-outer form .page .field{
  width: 428px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}

.form-outer form .page .field .label{
  position: absolute;
  top: -20px;
  font-weight: 500;
}

.form-outer form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid #03A63C;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}

.form-outer form .page .field button,
.form-outer form .page .field .submit{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  border-radius: 5px;
  background: #03A63C;
  color: #F0F1F2;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-outer form .page .field button:hover{
  background: #06c749;
}

form .page .btns button .prev{
  margin-right: 3px !important;
  font-size: 17px;
  position: absolute;
  bottom: 10px;
}

form .page .btns button .next{
  margin-left: 3px !important;
  font-size: 17px;
  position: absolute;
  bottom: 10px;
}
.agreement {
  display: flex;
  margin-bottom: 55px;
}

.textBox {
  margin: 10px 0;
  padding: 5px 20px 0 20px;
  border: 1px solid #06c749;
  font-size: 10px;
  width: 428px;
  height: 350px;
  overflow-y: scroll;
  background: #F0F1F2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.lastbtns {
  margin-top: 50px;
}

/* progress-bar */
.signup-container .progress-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
  user-select: none;
}

.signup-container .progress-bar .step{
  position: relative;
  text-align: center;
  width: 100%;
}

.signup-container .progress-bar .step p{
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 8px;
}

.progress-bar .step .bullet{
  position: relative;
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  border-radius: 50px;
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  transition: 0.2s;
}

.progress-bar .step .bullet.active{
  border-color: #03A63C;
  background: #03A63C;
}

.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar .step .bullet.active span{
  display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 8px;
  right: -54px;
  height: 3px;
  width: 44px; 
  background: #262626
} 

.progress-bar .step p.active{
  color: #03A63C;
  transition: 0.2s linear;
}

.progress-bar .step .bullet.active:after{
  background: #03A63C;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}

.progress-bar .step span{
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  position: absolute;
  left: 50%;
  bottom: 0.5px;
  transform:  translateX(-50%);
}

.progress-bar .step p.active{
  color: #03A63C;
  transition: 0.2s linear;
}

.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}

.progress-bar .step .check.active{
  display: block;
  color: #fff;
}