.signup-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
}

.signup-container{
  width: 500px;
  background: #fff;
  text-align: center;
  padding: 50px 35px 10px 35px;
  backdrop-filter: blur(21px) saturate(107%);
  -webkit-backdrop-filter: blur(21px) saturate(107%);
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  text-align: center;
}

.signup-container header{
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.signup-container .form-outer{
  width: 100%;
  /* overflow: hidden; */
}

.signup-container .form-outer form{
  display: flex;
  width: 500%;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;  
}

.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  width: 500px;
  height: 45px;
  margin: 45px 0;
  /* display: flex; */
  /* position: relative; */
}

form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}

  form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
  }

  form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
  }
  form .page .field select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
  }