/* Borderless-credit-app Color Theme Swatches in Hex */
:root {
    --border: 3px;
    --color1: #6be89b;
    --color2: #0076a5;
    --from: 30deg;
    --distance: 46%;
    --tc1: #3CA88D;
    --tc2: #D0E6A5;
    --tc3: #FFDD94;
    --tc4: #FA897B;
    --tc5: #CCABD8;
    --tc0: #86E3CE;
}  

/* ----------폰트---------- */
/* main */
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* nav */
@font-face {
    font-family: 'Busan';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/busan/Busan/Busan.woff2') format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/busan/Busan/Busan.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* INDEX P */
@font-face {
    font-family: 'SangSangFlowerRoad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangFlowerRoad.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fa,.fab,.fad,.fal,.far,.fas{
	font-weight: 900 !important;
}

/* ----------공통---------- */
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::selection {
    background: var(--tc1);
    color: #F0F1F2;
}

::-webkit-selection {
    background: var(--tc1);
    color: #F0F1F2;
}

header {
    font-family: 'Busan';
    font-size: 62.5%;
    font-size: 10px;
}

main {
    font-family: 'IBMPlexSansKR-Regular';
}

.home {
    width: 100%;
    height: 100%;
    min-height: 300px;
    /* background-image: url(https://images.unsplash.com/photo-1621794506088-f18522a69c32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80); */
    background-image: url(../images/bg/bd-top.png);
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center top; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
}

.content {
    padding: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    min-height: 50rem;
    background: transparent;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.pos-btn {
    color: #F0F1F2;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    background-color: var(--tc1);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    }

.neg-btn {
    color: #F0F1F2;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    background-color: var(--tc4);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;   
}

.awf-btn {
    color: #F0F1F2;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    background-color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;}

.glass {
    backdrop-filter: blur(25px) saturate(113%);
    -webkit-backdrop-filter: blur(25px) saturate(113%);
    background-color: rgba(255, 255, 255, 0.83);
    border-radius: 3px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.myH2 {
    font-size: 4rem;
}

/* 여기부터 추가해서 쓰세요 */
/*-------------- index, login ----------------- */
.index-home {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: linear-gradient(135deg, white 50%);
    /* background-image: url(https://images.unsplash.com/photo-1621794506088-f18522a69c32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80); */
    background-image: url(../images/bg/bg-index.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    position: relative;
}

.start-container {
    margin: 12.5rem 0;
}

.start-btn {
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-shadow: 0 2px 1px hsla(250, 20, 20, 0.4);
    text-align: center;
    background-color: var(--tc1);
    box-shadow: -4px 4px 0px #F0F1F2;
    box-decoration-break: clone;
    border-radius: 3px;
    width: auto;
    text-decoration: none;
    overflow: hidden;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

.start-btn:hover {
    text-decoration: none;
    color: #000;
}
.start-btn:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.start-btn:hover{
    opacity: .7;
}

.start-btn:active{
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.3), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255,255,255,.2), inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@keyframes shiny-btn1 {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
}

.Ptop {
    font-family: 'SangSangFlowerRoad';
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-shadow: 0 2px 1px rgba(139, 139, 139, 0.4);
    position: relative;
    bottom: -10%;
    left: -10%;
    transform: rotate(-5grad);
}

.Pbottom {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    filter: drop-shadow(.10em .05em white );
    /* mix-blend-mode: difference; */
    margin-top: -8.125rem;
}

.main-bg {
    width: 100%;
    height: 100vh;
    background-image: url(../images/base/bg.png);
    background-position: center top;
    background-size: cover;
}

.login-container {
    color: rgb(0, 0, 0);
    text-shadow: 0 2px 1px hsla(250, 20, 20, 0.4);
    text-align: center;
    background-color: #F0F1F2;
    box-shadow: -5px 5px 0px var(--tc0);
    box-decoration-break: clone;
    border-radius: 3px;
    width: auto;
    padding: 30px 35px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    margin-top: 6.25rem;
}

.pf_list {
    margin-right: 100px;
}

.find li, .to-signup {
    text-decoration: none;
    list-style: none;
    font-size: 90%;
    color:var(--tc1);
    cursor: pointer;
}


/*-------------------- main-------------------- */
.carousel-item img {
    width: 100%;
    height: 700px;
    border-radius: 5%;
}

.carousel-caption a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.none-box {
    height: 450px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px -5px 20px #00000029;
    padding: 200px;
}

.recommended {
    margin-top: 12.5rem;
}

.inner-box {
    padding: 25rem 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% + 6.25rem);
}

#profiles {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 0.8vw, 20px);
    justify-content: center;
    margin-left: 80px;
    width: clamp(600px, 80vw, 1400px);
}

#profiles > .profile {
    aspect-ratio: 7 / 8;
    backdrop-filter: blur(0.75vw);
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 1vw;
    cursor: pointer;
    transition: background-color 250ms;
    width: calc(25% - clamp(10px, 0.8vw, 20px));
}

#profiles > .profile:hover {
    backdrop-filter: blur(1vw);
    background-color: rgba(255, 255, 255, 0.1);
}

.profile > .profile-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - clamp(8px, 1vw, 12px));
    justify-content: center;
    padding: clamp(8px, 1vw, 12px);
}

.profile > .profile-content > .profile-pic {
    aspect-ratio: 1;
    border: clamp(3px, 0.4vw, 5px) solid white;
    border-radius: 100%;
    flex-shrink: 0;
    height: 70%;
    position: relative;
}

.profile > .profile-content > .profile-pic > .profile-pic-image {
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 100%;
    height: calc(100% - clamp(10px, 1.5vw, 20px));
    margin: clamp(5px, 0.75vw, 10px);
    object-fit: cover;
    width: calc(100% - clamp(10px, 1.5vw, 20px));
}

.profile > .profile-content > .profile-name {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: clamp(1em, 2vw, 2em);
    margin: 0px;
    text-align: center;
}

/* articles */
/*-------------------- 게시판  -------------------- */
.board-box {
    padding-top: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    min-height: 37.5rem;
}
.sm-box {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.sm-box thead th:nth-child(1) {
    width: 30%;
}

.sm-box thead th:nth-child(2) {
    width: 25%;
}

.sm-box thead th:nth-child(3) {
    width: 5%;
}

.sm-box thead th:nth-child(4) {
    width: 5%;
}

.sm-box thead th:nth-child(5) {
    width: 5%;
}

.sm-box thead th:nth-child(6) {
    width: 25%;
}

.sm-box thead th:nth-child(7) {
    width: 5%;
}

th, td {
    padding: 20px;
}

.board-box tr td a {
    text-decoration: none;
    color: black;
}

.active>.page-link, .page-link.active {
    background-color: var(--tc1);
}

.disabled>.page-link, .page-link.disabled {
    background-color: white;
}



/*-------------------- 포스트 디테일-------------------- */
.modal-participater img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.comment-form{
    height: 3rem;
}

.detail-map{
    display: flex;
    justify-content: center;
    width:100vw;
    background-color: var(--tc2);
}

.detail-info-all{
    padding-top: 7rem;
}

.detail-info, .detail-info-an{
    margin: 1rem ;
    font-size: 1.5rem;
}

.detail-info-an{
    font-weight: bold;
}

.detail-info-name{
    text-decoration: none;
    color:#000;
}

.detail-info-name:hover{
    color:rgb(134, 134, 134);
}

.detail-content{
    justify-content: center;
    align-items: flex-end;
}

.detail-content-word{
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
.detail-content-detail{
    min-height: 150px;
    margin-top: 1.5rem;
    margin-bottom: 0;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    background-color: var(--tc2);
    font-size: 1.5rem;
}

.detail-content-up{
    margin-top: 1rem;
    color: rgb(139, 139, 139);
}

/* 댓글 */
.comment {
    display: flex;
    margin: 2rem 15%;
}

.comment-part{
    font-size: 0.7rem;
    height: 2rem;
    border-radius: 5px;
    border: 0;
    margin-left: 1rem;
    background-color: #86E3CE;
    color: #e1f1e7;
}

.comment-part-del{
    font-size: 0.7rem;
    height: 2rem;
    border-radius: 5px;
    border: 0;
    margin-left: 1rem;
    background-color: #F2ACCD;
    color: #e1f1e7;
}

.comment-part:hover{
    background-color: rgb(145, 170, 154);
    color: #e1f1e7;
}

.comment-part-del:hover{
    background-color: #f1328b;
    color: #e1f1e7;
}

.comment-profile-img {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
}

.comment-detail {
    padding: 1rem 2.5rem;
    margin-left: 2rem;
    border-radius: 20px;
    background-color: #bf9b6f42;
}

.comment-profile-name {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.comment-profile-name:hover {
    color: #bf9b6f;
}

.comment-content {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}

.comment-control {
    display: flex;
    margin-top: 0.5rem;
}

.comment-control-delete {
    margin-left: 1rem;
}

.comment-control-update,
.comment-control-update-exit,
.comment-control-delete {
    margin-bottom: 0;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
}

.comment-control-update:hover,
.comment-control-update-exit:hover,
.comment-control-delete:hover {
    color: var(--tc5);
}

.comment-update {
    margin-bottom: 1rem;
    border-radius: 20px;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    background-color: var(--tc3);
}

/*-------------------- account detail------------------------- */
.pic-outer {
    position: relative;
    padding: 30px;
}

.photo-outer::after {
    content: '';
    border-radius: 999px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: conic-gradient(
    from var(--from),
    var(--color1),
    var(--color2) var(--distance),
    transparent var(--distance)
    );
    -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
    );
    mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
    );
}

img {
border-radius: 999px;
display: block;
}

.pf-box {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    width: 100%;
}

.pf-right {
    display: flex;
    flex-direction: column;
}

.pf-history {
    width: 100%;
}

.written-p, .written-c, .liked {
    backdrop-filter: blur(21px) saturate(107%);
    -webkit-backdrop-filter: blur(21px) saturate(107%);
    background-color: #FFF;
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    min-height: 25rem;
    width: 100%;
    padding: 3.125rem;
    margin-top: 9.375rem;
}

.liked {
    margin-bottom: 200px;
}

.counts {
    display: flex;
    margin-top: 20px;
}

.meters {
    margin-top: -100px;
}

/* 매너온도 */
#article-profile #article-profile-right .meters {
    clear: both;
    display: block;
    width: 80%;
    background-color: #e9ecef;
    height: 8px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    position: relative;
    margin-top: 24px;
}

#article-profile #article-profile-right .meters .bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #495057;
    height: 8px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

#article-profile #article-profile-right .meters .bar-color-02 {
    background-color: var(--tc4);
}

#article-profile #article-profile-right .meters .bar-color-03 {
    background-color: var(--tc1);
}

#article-profile #article-profile-right .meters .bar-color-04 {
    background-color: var(--tc0);
}

/* 프로필수정 */
.idfield {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #313438;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
}

.wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.tab{
    cursor: pointer;
    padding:10px 20px;
    margin:0px 2px;
    background:var(--tc1);
    display:inline-block;
    color:#fff;
    border-radius:5px 5px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem;
}
.panels{
    background:#fffffff6;
    box-shadow: 0 2rem 2rem #00000080;
    min-height: 600px;
    width:100%;
    max-width:500px;
    padding:20px;  
    border-radius:0px 0px 5px 5px;
    overflow-wrap: break-word;
    position: relative;
}

.panel-btn {
    position: absolute;
    bottom: 20px;
    left: 185px;
}

.panel{
    display:none;
    animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
    font-size: 1.2em;
    font-weight: bold;
}
.radio{
    display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel{
    display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab{
    background:#fffffff6;
    color:#000;
    border-top: 3px solid var(--tc1);
}

/*-------------------- 지도 map ------------------------------- */
.map{
    display: flex;
    justify-content: center;
    padding-top: 13rem;
}

.map-search{
    margin: 0 2rem;
}

.map-search-btn{
    margin-top:1rem;
}

#map-search-result{
    overflow-y: scroll;
    height: 500px;
    width: 18.75rem;
}

.map-overlay-box{
    border-radius: 10px;
    border: none 0px;
    padding: 1rem 2rem;
}

.map-overlay-park-name{
    font-size: 2rem;
    font-weight: bold;
}

.map-overlay-park-addr,
.map-overlay-park-distance{
    font-size: 1.5rem;
}

.map-overlay-park-name,
.map-overlay-park-addr,
.map-overlay-park-distance{
    margin-bottom: 0.6rem;
}

.map-close-btn{
    padding: 3px 10px;
    border: none 0px;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: var(--tc4);
    color: #F0F1F2;
}

.map-close-btn:hover{
    background-color: var(--tc3);
}

.map-link-btn{
    margin-left: 1rem;
    padding: 3px 10px;
    border: none 0px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: var(--tc1);
    color: #F0F1F2;
}

.map-link-btn:hover{
    background-color: var(--tc0);
    color: #F0F1F2;
}

/* Navbar */
.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 999;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #000;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: var(--tc1);
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.navlinks {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li:not(.dd-toggle, .dd-list) {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a:not(.dd-toggle, .dd-btn, .dd-list, .dd-item) {
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 65px;
    font-size: 1.5625rem;
}

.nav div.main_list ul li a:hover {
    color: var(--tc1);
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* DropDown css*/
.dd-toggle {
    position: relative;
}

.arrow_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 0%;
    top: 100%;
    width: 150px;
    height: auto;
	background: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    opacity:0;
    visibility: hidden;
    transition: .3s;
    transform: scaleY(0);
    transform-origin: top center;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

li .dd-list {
    height: auto;
}

.dd-item {
    text-decoration: none;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 15px;
    height: auto;
    color: #232925;
}

.dd-toggle ul li{
    display: block;
}

.dd-toggle:hover ul {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.dd-btn {
    font-family: 'NanumSquareNeo-Variable';
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    height: 30px;
    width: auto;
    padding: 10px 20px;
    color: #000;
    border-radius: 5px;
    background: transparent;
    background-color: var(--tc1);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

/* Media query section */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #F0F1F2;
        /*same background color of navbar*/
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}

/* Nav Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    margin-top: 20px 0 40px 40px;
    padding: 0;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: -4px 4px 0px #F0F1F2;
    transition: all 0.3s ease;
}

/* 회원가입 form styles*/
#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: var(--tc1);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--tc1);
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps */
/*The number of the step and the connector before it*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: var(--tc1);
    color: white;
}


/* multistep */
.signup-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: transparent;
    padding-top: 12.5rem;
}

.signup-container{
width: 500px;
text-align: center;
padding: 50px 35px 10px 35px;
border: 1px solid rgba(209, 213, 219, 0.3);
text-shadow: 0 2px 1px hsla(250, 20, 20, 0.4);
background-color: #F0F1F2;
box-shadow: -5px 5px 0px var(--tc1);
box-decoration-break: clone;
border-radius: 3px;
transition: all 0.3s ease;
display: inline-block;
outline: none;
}

.signup-container header{
font-size: 35px;
font-weight: 400;
margin: 0 0 30px 0;
}

.signup-container .form-outer{
width: 100%;
overflow: hidden;
}

.signup-container .form-outer form{
display: flex;
width: 500%;
}

.form-outer form .page {
width: 25%;
position: relative;
transition: margin-left 0.3s ease-in-out;  
}

.form-outer form .page .title{
text-align: left;
font-size: 25px;
font-weight: 500;
}

.field-box {
height: 400px
}

.form-outer form .page .field {
width: 428px;
height: auto;
margin: 45px 0;
display: flex;
position: relative;
}

.form-outer form .page .field .label{
position: absolute;
top: -27px;
font-weight: 500;
}

.form-outer form .page .field input{
height: 100%;
width: 100%;
border: 1px solid var(--tc1);
border-radius: 5px;
padding-left: 15px;
font-size: 18px;
}

.form-outer form .page .field button,
.form-outer form .page .field .submit{
width: 100%;
height: 45px;
border: none;
border-radius: 5px;
background: var(--tc1);
color: #F0F1F2;
font-weight: 500;
font-size: 18px;
letter-spacing: 1px;
cursor: pointer;
transition: 0.3s ease;
}

.form-outer form .page .field button:hover{
background: var(--tc0);
}

form .page .btns button .prev{
margin-right: 3px !important;
font-size: 17px;
position: absolute;
bottom: 10px;
}

form .page .btns button .next{
margin-left: 3px !important;
font-size: 17px;
position: absolute;
bottom: 10px;
}
.agreement {
display: flex;
margin-bottom: 55px;
}

.textBox {
margin: 10px 0;
padding: 5px 20px 0 20px;
border: 1px solid var(--tc1);
font-size: 10px;
width: 428px;
height: 350px;
overflow-y: scroll;
background: #F0F1F2;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.lastbtns {
margin-top: 50px;
}

/* progress-bar */
.signup-container .progress-bar{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 40px 0;
user-select: none;
}

.signup-container .progress-bar .step{
position: relative;
text-align: center;
width: 100%;
}

.signup-container .progress-bar .step p{
font-size: 18px;
font-weight: 500;
color: #000;
margin-bottom: 8px;
}

.progress-bar .step .bullet{
position: relative;
height: 25px;
width: 25px;
border: 2px solid #000;
border-radius: 50px;
display: inline-block;
font-weight: 500;
font-size: 17px;
line-height: 25px;
transition: 0.2s;
}

.progress-bar .step .bullet.active{
border-color: var(--tc1);
background: var(--tc1);
}

.progress-bar .step .bullet span{
position: absolute;
left: 50%;
transform: translateX(-50%);
}

.progress-bar .step .bullet.active span{
display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
position: absolute;
content: '';
bottom: 8px;
right: -54px;
height: 3px;
width: 44px; 
background: #262626
} 

.progress-bar .step p.active{
color: var(--tc1);
transition: 0.2s linear;
}

.progress-bar .step .bullet.active:after{
background: var(--tc1);
transform: scaleX(0);
transform-origin: left;
animation: animate 0.3s linear forwards;
}
@keyframes animate {
100%{
    transform: scaleX(1);
}
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
display: none;
}

.progress-bar .step span{
font-weight: 700;
font-size: 17px;
line-height: 25px;
position: absolute;
left: 50%;
bottom: -1px;
transform:  translateX(-50%);
}

.progress-bar .step p.active{
color: var(--tc1);
transition: 0.2s linear;
}

.progress-bar .step .check{
position: absolute;
left: 50%;
top: 70%;
font-size: 15px;
transform: translate(-50%, -50%);
display: none;
}

.progress-bar .step .check.active{
display: block;
color: #fff;
}


/* footer */
footer {
    position: relative;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.footer-bg {
    background-image: url(../images/bg/bg-footer.png);
    min-height: 300px;
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: 50% 170%;
    background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */   
}