{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% block title %}{% endblock title %}

{% block content %}
  <section class="home"></section>
  <div style="height: 1000px">
    <div class="content">
      <h2>회원가입</h2>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn pos-btn" content="회원가입">
      </form>
    </div>
  </div>
{% endblock content %}