{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}

{% block title %}
  | 프로필 수정{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}
  <section class="home"></section>
  <div>
    <h1>프로필 수정</h1>
    <div class="wrapper" id="pf_wrapper">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="radio" id="one" name="group" type="radio" checked="checked">
        <input class="radio" id="two" name="group" type="radio">
        <input class="radio" id="three" name="group" type="radio">
        <input class="radio" id="four" name="group" type="radio">
        <div class="tabs">
          <label class="tab" id="one-tab" for="one">기본 정보</label>
          <label class="tab" id="two-tab" for="two">상세 정보</label>
          <label class="tab" id="three-tab" for="three">기타 정보</label>
          <label class="tab" id="four-tab" for="four">프로필 설정</label>
        </div>
        <div class="panels">
          <div class="panel" id="one-panel">
            <div class="panel-title">아이디</div>
            {% render_field user_form.username class="form-control inactive" %}
            <div class="panel-title">비밀번호</div>
            {% render_field user_form.password class="form-control" %}
            <div class="panel-title">이메일 주소</div>
            {% render_field user_form.email class="form-control" %}
          </div>
          <div class="panel" id="two-panel">
            <div class="panel-title">생년월일</div>
            {% render_field user_form.birth class="form-control" %}
            <div class="panel-title">성별</div>
            {% render_field user_form.gender class="form-control" %}
            <div class="panel-title">지역</div>
            {% render_field user_form.address class="form-control" %}
          </div>
          <div class="panel" id="three-panel">
            <div class="panel-title">MBTI</div>
            {% render_field user_form.mbti class="form-control" %}
            <div class="panel-title">성격</div>
            {% render_field user_form.manner class="d-flex flex-wrap lh-lg" %}
            <div class="panel-title">흡연여부</div>
            {% render_field user_form.smoking class="form-control" %}
            <div class="panel-title">애완동물 유무</div>
            {% render_field user_form.pet %}
          </div>
          <div class="panel" id="four-panel">
            <div class="panel-title">닉네임</div>
            {% render_field user_form.nickname class="form-control" %}
            <div class="panel-title">프로필 사진</div>
            {% render_field user_form.profile_pic class="form-control" %}
          </div>
          <button class="pos-btn" type="submit">수정</button>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}
