{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% block title %}
| 친구찾기{% endblock title %}

{% block content %}
<section class='container'>
  <div class="content">
    <h1>board</h1>
    <table class="table align-middle">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Day</th>
          <th scope="col">Time</th>
          <th scope="col">애완동물 유/무</th>
          <th scope="col">내용</th>
          <th scope="col">생성일</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for posts in post %}{% if posts.user not in request.user.blocking.all %}
        <tr>
          <td>
            <a href="{% url 'articles:detail' posts.pk %}">{{ posts.title }}</a>
          </td>
          <td>{{ posts.day }}</td>
          <td>{{ posts.time }}</td>
          <td>{{ posts.pet }}</td>
          <td>{{ posts.content }}</td>
          <td>{{ posts.created_at }}</td>
        </tr>
        {% endif %}{% endfor %}
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <a href="{% url 'articles:create' %}">
        <button type="button" class="pos-btn">산책생성</button>
      </a>
    </div>
  </div>
</section>
<section class='container'>
  <div class="content">
    <div class="row">
      {% for posts in post %}{% if posts.user not in request.user.blocking.all %}
      <div class="col-3 mb-3">
        <div class="card rounded-3 shadow">
          <div class="badge bg-white text-black position-absolute" style="top: 0.5rem; right:0.5rem">
            👁‍🗨{{ posts.hit }}
          </div>
          {% if posts.thumbnail %}
          <img src="{{ posts.thumbnail.url }}" class="card-img-top " alt="...">
          {% else %}
          <img src="{% static 'images/base/article_base.jpg' %}" class="card-img-top">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ posts.title }}</h5>
            <h5 class="card-title">{{ posts.park_address }}</h5>
            <a href="{% url 'articles:detail' posts.pk %}" class="pos-btn"">자세히보기</a>
          </div>
        </div>
      </div>
      {% endif %}{% endfor %}
    </div>
</section>


{% endblock content %}

{% block script %}{% endblock script %}