{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% block title %}{% endblock title %}

{% block content %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class='container'>
    <h1>board</h1>
    <table class="table align-middle">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Day</th>
          <th scope="col">Time</th>
          <th scope="col">애완동물 유/무</th>
          <th scope="col">내용</th>
          <th scope="col">생성일</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for posts in post %}
          <tr>
            <td>
              <a href="{% url 'articles:detail' posts.pk %}">{{ posts.title }}</a>
            </td>
            <td>{{ posts.day }}</td>
            <td>{{ posts.time }}</td>
            <td>{{ posts.pet }}</td>
            <td>{{ posts.content }}</td>
            <td>{{ posts.created_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <a href="{% url 'articles:create' %}">
        <button type="button" class="pos-btn">산책생성</button>
      </a>
    </div>
  </div>
{% endblock content %}

{% block script %}{% endblock script %}
