{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% block title %}{% endblock title %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container ">
<form class="p-4" action="" method="POST" enctype="multipart/form-data">
  <div class="mb-3"><label class="form-label" for="id_title">Title</label>
    <input type="text" name="title" maxlength="50" class="form-control" placeholder="Title" required="" id="id_title"></div>
  <div class="mb-3"><label class="form-label" for="id_day">Day</label>
    <input type="date" name="day" class="form-control" placeholder="Day" required="" id="id_day"></div>
    <div class="mb-3"><label class="form-label" for="id_time">Time</label><select name="time" class="form-select" required="" id="id_time">
      <option value="" selected="">---------</option>   
      <option value="00:00">00:00</option>    
      <option value="01:00">01:00</option>    
      <option value="02:00">02:00</option>    
      <option value="03:00">03:00</option>    
      <option value="04:00">04:00</option>    
      <option value="05:00">05:00</option>    
      <option value="06:00">06:00</option>    
      <option value="07:00">07:00</option>    
      <option value="08:00">08:00</option>    
      <option value="09:00">09:00</option>    
      <option value="10:00">10:00</option>    
      <option value="11:00">11:00</option>    
      <option value="12:00">12:00</option>    
      <option value="13:00">13:00</option>    
      <option value="14:00">14:00</option>    
      <option value="15:00">15:00</option>    
      <option value="16:00">16:00</option>    
      <option value="17:00">17:00</option>    
      <option value="18:00">18:00</option>    
      <option value="19:00">19:00</option>    
      <option value="20:00">20:00</option>    
      <option value="21:00">21:00</option>    
      <option value="22:00">22:00</option>    
      <option value="23:00">23:00</option>    
      <option value="24:00">24:00</option>    
    </select></div>
    <div class="mb-3"><label class="form-label" for="id_park_address">공원</label>
      <input type="text" name="park_address" maxlength="80" class="form-control" placeholder="Park address" required="" id="id_park_address"></div>
    <div class="mb-3"><div class="form-check"><input type="checkbox" name="pet" class="form-check-input" id="id_pet">
      <label class="form-check-label" for="id_pet">애완동물 유/무</label></div></div>
    <div class="mb-3"><label class="form-label" for="id_content">Content</label>
      <textarea name="content" cols="40" rows="10" class="form-control" placeholder="Content" required="" id="id_content"></textarea></div>

      <input class="pos-btn" type="submit" value="글쓰기">
  </form>
</div>


{% endblock content %}

{% block script %}
{% endblock script %}