{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% block title %}{% endblock title %}

{% block content %}
<!-- 참여자 모달 -->
<div class="modal fade title-font" id="participateModal" tabindex="-1" aria-labelledby="participateModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="participateModalLabel">참여자</h5>
      </div>
      <div class="modal-body">
        {% if post.participate.all %}
        {% for participater in post.participate.all %}
        <a href="{% url 'accounts:detail' participater.pk %}" class="modal-participater"
          style="color: black; text-decoration: none;">
          <div class="d-flex align-items-center">
            <img src="{{ participater.profile_pic.url }}">
            <h3>{{ participater }}</h3>
            <!-- <div>
              <a href="#" class="">DM</a>
            </div> -->
          </div>
        </a>
        {% endfor %}
        {% else %}
        <div class="text-center">참여자가 없습니다.</div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" style="background-color: #03A63C;" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{{ post.update_counter }}
<div class='container'>
  <div class="d-flex">
    <div id="map" style="width:350px;height:350px;"></div>

    <script type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c262112c4811d99bb369cd08f0c8ef80&libraries=clusterer&libraries=services"></script>
    <script>
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
          center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 3 // 지도의 확대 레벨
        };

      // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption); 
    </script>

    <div style="font-size: 2em;">
      <dl class="row m-3">
        <dt class="col-4 text-center">Title</dt>
        <dd class="col-8">{{ post.title }}</dd>
        <dt class="col-4 text-center">Day</dt>
        <dd class="col-8">{{ post.day }}</dd>
        <dt class="col-4 text-center">Time</dt>
        <dd class="col-8">{{post.time}}</dd>
        <dt class="col-4 text-center">애완동물 유/무</dt>
        <dd class="col-8">{{post.pet}}</dd>
        <dt class="col-4 text-center">내용</dt>
        <dd class="col-8">{{ post.content }}</dd>
        <dt class="col-4 text-center">참여여부</dt>
        <dd class="col-8">
          <a href="{% url 'articles:participate' post.pk %}">
            {% if request.user in post.participate.all %}
            <button type="button" class="btn btn-danger">참여취소</button>
            {% else %}
            <button type="button" class="btn btn-primary">참여하기</button>
            {% endif %}
          </a>
          <div data-bs-target="#participateModal" data-bs-toggle="modal">참여자
            {{ post.participate.count}}</span><span>/{{post.participate_people}}</div>
        </dd>
        <dt class="col-4 text-center">조회수</dt>
        <dd class="col-8">{{ post.hit }}</dd>
        <dt class="col-4 text-center">생성일</dt>
        <dd class="col-8">{{ post.created_at|date:'Y-m-d' }}</dd>
      </dl>
    </div>


  </div>

  {% if request.user == participate.user %}
  <h1>comment</h1>
  <form action="{% url 'articles:comment' post.pk %}" method="POST" id="comment-form" data-post-id="{{ post.pk }}">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <input class="btn pos-btn" type="submit" value="Submit">
  </form>

  <div class="comments">
    {% for comment in comments %}
    <div class="comment" data-comment-id="{{ comment.pk }}">
      <img class="comment-profile-img" src="{{ comment.user.profile_pic.url }}" alt="{{ comment.user.profile_pic }}">
      <div class="comment-detail">
        <p class="comment-profile-name"><a class="comment-profile-name" href="#">{{ comment.user.nickname }}</a></p>
        <p id="comment-update-{{ comment.pk }}-content" class="comment-content">{{ comment.content }}</p>
        {% if request.user.pk == comment.user.pk %}
        <form class="comment-update-form" id="form-comment-update-{{ comment.pk }}"
          action="{% url 'articles:comment_update' post.pk comment.pk %}" method="post" style="display:none;">
          <input class="comment-update" id="comment-update-input-{{ comment.pk }}" type="text"
            value="{{comment.content}}">
          <div class="d-flex">
            <p class="comment-control-update" onclick="comment_update_ok(this)" id="comment-update-ok-{{ comment.pk }}"
              data-postup-id="{{ post.pk }}" data-commentup-id="{{ comment.pk }}">수정 완료</p>
            <p class="comment-control-update-exit ms-3" onclick="comment_update_exit(this)"
              id="comment-update-{{ comment.pk }}">취소</p>
          </div>
        </form>
        <div class="comment-control" id="control-comment-update-{{ comment.pk }}">
          <p class="comment-control-update" onclick="comment_update(this)" id="comment-update-{{ comment.pk }}"
            data-postup-id="{{ post.pk }}" data-commentup-id="{{ comment.pk }}">수정</p>
          <p class="comment-control-delete" onclick="comment_delete(this)" id="comment-delete-{{ comment.pk }}"
            data-postdel-id="{{ post.pk }}" data-commentdel-id="{{ comment.pk }}">삭제</p>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endblock content %}

  {% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    // 댓글 생성 비동기
    const commentForm = document.querySelector("#comment-form")
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    commentForm.addEventListener('submit', function (event) {
      event.preventDefault();
      console.log(event)
      axios({
        method: 'post',
        url: `/${event.target.dataset.postId}/comment/`,
        headers: { 'X-CSRFToken': csrftoken },
        data: new FormData(commentForm)
      })
        .then(response => {
          console.log(response.data)
          const comments = document.querySelector(".comments")
          comments.textContent = ""
          const commentData = response.data.commentData
          const user = response.data.user

          for (let i = 0; i < commentData.length; i++) {

            if (user === commentData[i].user_id) {
              comments.insertAdjacentHTML('beforeend', `
            <div class="comment" data-comment-id="${commentData[i].commentPk}">
              <img class="comment-profile-img" src="${commentData[i].profile_img}" alt="유저 이미지">
              <div class="comment-detail">
                <p class="comment-profile-name"><a class="comment-profile-name" href="#">${commentData[i].profile_name}</a></p>
                <p id="comment-update-${commentData[i].commentPk}-content" class="comment-content">${commentData[i].content}</p>
                <form class="comment-update-form" id="form-comment-update-${commentData[i].commentPk}" action="/${response.data.postPk}/comment_update/${commentData[i].commentPk}" method="post" style="display:none;">
                  <input class="comment-update" id="comment-update-input-${commentData[i].commentPk}"  type="text" value="${commentData[i].content}">
                  <div class="d-flex">
                    <p class="comment-control-update" onclick="comment_update_ok(this)" id="comment-update-ok-${commentData[i].commentPk}" data-postup-id="${response.data.postPk}" data-commentup-id="${commentData[i].commentPk}">수정 완료</p>
                    <p class="comment-control-update-exit ms-3" onclick="comment_update_exit(this)" id="comment-update-${commentData[i].commentPk}">취소</p>
                  </div>
                </form>
                <div class="comment-control" id="control-comment-update-${commentData[i].commentPk}">
                  <p class="comment-control-update" onclick="comment_update(this)" id="comment-update-${commentData[i].commentPk}" data-postup-id="${response.data.postPk}" data-commentup-id="${commentData[i].commentPk}">수정</p>
                  <p class="comment-control-delete" onclick="comment_delete(this)" id="comment-delete-${commentData[i].commentPk}" data-postdel-id="${response.data.postPk}" data-commentdel-id="${commentData[i].commentPk}">삭제</p>
                </div>
              </div>
            </div>
            `)
            } else {
              comments.insertAdjacentHTML('beforeend', `
            <div class="comment">
              <img class="comment-profile-img" src="${commentData[i].profile_img}" alt="유저 이미지">
              <div class="comment-detail">
                <p class="comment-profile-name"><a class="comment-profile-name" href="#">${commentData[i].profile_name}</a></p>
                <p class="comment-content">${commentData[i].content}</p>
              </div>
            </div>
            `)
            }
          }
          commentForm.reset()
        })
    })
  </script>

  <script>
    // 댓글 삭제 비동기
    const comment_delete = (e) => {
      const comment_id = document.querySelector(`#${e.id}`).id
      console.log(event.target.dataset)
      axios({
        method: 'post',
        url: `/${event.target.dataset.postdelId}/comment_delete/${event.target.dataset.commentdelId}`,
        headers: { 'X-CSRFToken': csrftoken }
      }).then(response => {
        const comments = document.querySelector(".comments")
        comments.textContent = ""
        const commentData = response.data.commentData
        const user = response.data.user

        for (let i = 0; i < commentData.length; i++) {
          if (user === commentData[i].user_id) {
            comments.insertAdjacentHTML('beforeend', `
              <div class="comment" data-comment-id="${commentData[i].commentPk}">
                <img class="comment-profile-img" src="${commentData[i].profile_img}" alt="유저 이미지">
                <div class="comment-detail">
                  <p class="comment-profile-name"><a class="comment-profile-name" href="#">${commentData[i].profile_name}</a></p>
                  <p id="comment-update-${commentData[i].commentPk}-content" class="comment-content">${commentData[i].content}</p>
                  <form class="comment-update-form" id="form-comment-update-${commentData[i].commentPk}" action="/${response.data.postPk}/comment_update/${commentData[i].commentPk}" method="post" style="display:none;">
                    <input class="comment-update" id="comment-update-input-${commentData[i].commentPk}"  type="text" value="${commentData[i].content}">
                    <div class="d-flex">
                      <p class="comment-control-update" onclick="comment_update_ok(this)" id="comment-update-ok-${commentData[i].commentPk}" data-postup-id="${response.data.postPk}" data-commentup-id="${commentData[i].commentPk}">수정 완료</p>
                      <p class="comment-control-update-exit ms-3" onclick="comment_update_exit(this)" id="comment-update-${commentData[i].commentPk}">취소</p>
                    </div>
                  </form>
                  <div class="comment-control" id="control-comment-update-${commentData[i].commentPk}">
                    <p class="comment-control-update" onclick="comment_update(this)" id="comment-update-${commentData[i].commentPk}" data-postup-id="${response.data.postPk}" data-commentup-id="${commentData[i].commentPk}">수정</p>
                    <p class="comment-control-delete" onclick="comment_delete(this)" id="comment-delete-${commentData[i].commentPk}" data-postdel-id="${response.data.postPk}" data-commentdel-id="${commentData[i].commentPk}">삭제</p>
                  </div>
                </div>
              </div>
              `)
          } else {
            comments.insertAdjacentHTML('beforeend', `
              <div class="comment">
                <img class="comment-profile-img" src="${commentData[i].profile_img}" alt="유저 이미지">
                <div class="comment-detail">
                  <p class="comment-profile-name"><a class="comment-profile-name" href="#">${commentData[i].profile_name}</a></p>
                  <p class="comment-content">${commentData[i].content}</p>
                </div>
              </div>
              `)
          }
        }
      })
    } 
  </script>

  <script>
    // 댓글 수정 비동기
    const comment_update_ok = (e) => {
      const commentId = event.target.dataset.commentupId
      const postId = event.target.dataset.postupId
      const commentInput = document.querySelector(`#comment-update-input-${commentId}`)

      axios({
        method: 'post',
        url: `/${postId}/comment_update/${commentId}`,
        headers: {
          'X-CSRFToken': csrftoken
        },
        data: {
          'content': commentInput.value
        }
      }).then(response => {
        const comments = document.querySelector(".comments")
        comments.textContent = ""
        const commentData = response.data.commentData
        const user = response.data.user

        for (let i = 0; i < commentData.length; i++) {
          if (user === commentData[i].user_id) {
            comments.insertAdjacentHTML('beforeend', `
          <div class="comment" data-comment-id="${commentData[i].commentPk}">
            <img class="comment-profile-img" src="${commentData[i].profile_img}" alt="유저 이미지">
            <div class="comment-detail">
              <p class="comment-profile-name"><a class="comment-profile-name" href="#">${commentData[i].profile_name}</a></p>
              <p id="comment-update-${commentData[i].commentPk}-content" class="comment-content">${commentData[i].content}</p>
              <form class="comment-update-form" id="form-comment-update-${commentData[i].commentPk}" action="/${response.data.postPk}/comment_update/${commentData[i].commentPk}" method="post" style="display:none;">
                <input class="comment-update" id="comment-update-input-${commentData[i].commentPk}"  type="text" value="${commentData[i].content}">
                <div class="d-flex">
                  <p class="comment-control-update" onclick="comment_update_ok(this)" id="comment-update-ok-${commentData[i].commentPk}" data-postup-id="${response.data.postPk}" data-commentup-id="${commentData[i].commentPk}">수정 완료</p>
                  <p class="comment-control-update-exit ms-3" onclick="comment_update_exit(this)" id="comment-update-${commentData[i].commentPk}">취소</p>
                </div>
              </form>
              <div class="comment-control" id="control-comment-update-${commentData[i].commentPk}">
                <p class="comment-control-update" onclick="comment_update(this)" id="comment-update-${commentData[i].commentPk}" data-postup-id="${response.data.postPk}" data-commentup-id="${commentData[i].commentPk}">수정</p>
                <p class="comment-control-delete" onclick="comment_delete(this)" id="comment-delete-${commentData[i].commentPk}" data-postdel-id="${response.data.postPk}" data-commentdel-id="${commentData[i].commentPk}">삭제</p>
              </div>
            </div>
          </div>
          `)
          } else {
            comments.insertAdjacentHTML('beforeend', `
          <div class="comment">
            <img class="comment-profile-img" src="${commentData[i].profile_img}" alt="유저 이미지">
            <div class="comment-detail">
              <p class="comment-profile-name"><a class="comment-profile-name" href="#">${commentData[i].profile_name}</a></p>
              <p class="comment-content">${commentData[i].content}</p>
            </div>
          </div>
          `)
          }
        }
      })
    }

    const comment_update = (e) => {
      const comment_id = document.querySelector(`#${e.id}`).id
      const commentUpdateForm = document.querySelector(`#form-${e.id}`)
      const commentControl = document.querySelector(`#control-${e.id}`)
      const commentContent = document.querySelector(`#${e.id}-content`)
      console.log(comment_id)
      console.log(commentControl.style)
      commentUpdateForm.style.display = "block"
      commentControl.style.display = "none"
      commentContent.style.display = "none"
    }

    const comment_update_exit = (e) => {
      const comment_id = document.querySelector(`#${e.id}`).id
      const commentUpdateForm = document.querySelector(`#form-${e.id}`)
      const commentControl = document.querySelector(`#control-${e.id}`)
      const commentContent = document.querySelector(`#${e.id}-content`)
      console.log(commentUpdateForm.style)
      commentUpdateForm.style.display = "none"
      commentControl.style.display = "flex"
      commentContent.style.display = "block"
    }
  </script>
  {% endblock script %}