{% extends 'nonav_base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}

{% block title %}{% endblock title %}

{% block section %}
  <section class="start-container">
    {% if request.user.is_authenticated %}
      <a href="{% url 'articles:main' %}" class="start-btn glass">ENTER</a>
    {% else %}
      <a href="{% url 'accounts:login' %}" class="start-btn glass">ENTER</a>
    {% endif %}
  </section>
{% endblock section %}

{% block script %}{% endblock script %}
