{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% block title %}{% endblock title %}

{% block content %}
  <section class="home"></section>
  <div style="height: 1000px" class='d-flex justify-content-center flex-column'>
    <!-- just to make scrolling effect possible -->
    <h2 class="myH2">산책메이트 로고자리</h2>
    <p class="myP">친구 말고 산책 메이트 👩‍❤️‍👨</p>
    <p class="myP">지금 시작하등가말등가</p>
    <p class="myP">로그인폼 아래</p>
  </div>
{% endblock content %}

{% block script %}
  <!-- Jquery needed -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/scripts.js"></script>

  <!-- Function used to shrink nav bar removing paddings and adding black background -->
  <script>
    $(window).scroll(function () {
      if ($(document).scrollTop() > 50) {
        $('.nav').addClass('affix');
        console.log("OK");
      } else {
        $('.nav').removeClass('affix');
      }
    });
  </script>
  <script type="text/javascript">
    $(function () {

      fnInit();

    });

    function frm_check() {
      saveid();
    }

    function fnInit() {
      var cookieid = getCookie("saveid");
      console.log(cookieid);
      if (cookieid != "") {
        $("input:checkbox[id='saveId']").prop("checked", true);
        $('#logId').val(cookieid);
      }

    }

    function setCookie(name, value, expiredays) {
      var todayDate = new Date();
      todayDate.setTime(todayDate.getTime() + 0);
      if (todayDate > expiredays) {
        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + expiredays + ";";
      } else if (todayDate < expiredays) {
        todayDate.setDate(todayDate.getDate() + expiredays);
        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
      }

      console.log(document.cookie);
    }

    function getCookie(Name) {
      var search = Name + "=";
      console.log("search : " + search);

      if (document.cookie.length > 0) { // 쿠키가 설정되어 있다면
        offset = document
          .cookie
          .indexOf(search);
        console.log("offset : " + offset);
        if (offset != -1) { // 쿠키가 존재하면
          offset += search.length;
          // set index of beginning of value
          end = document
            .cookie
            .indexOf(";", offset);
          console.log("end : " + end);
          // 쿠키 값의 마지막 위치 인덱스 번호 설정
          if (end == -1) 
            end = document.cookie.length;
          console.log("end위치  : " + end);

          return unescape(document.cookie.substring(offset, end));
        }
      }
      return "";
    }

    function saveid() {
      var expdate = new Date();
      if ($("#saveId").is(":checked")) {
        expdate.setTime(expdate.getTime() + 1000 * 3600 * 24 * 30);
        setCookie("saveid", $("#logId").val(), expdate);
      } else {
        expdate.setTime(expdate.getTime() - 1000 * 3600 * 24 * 30);
        setCookie("saveid", $("#logId").val(), expdate);

      }
    }
  </script>
{% endblock script %}
