{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load embed_video_tags %}

{% block title %}
  | 홈{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}
  <section class="home">
    <div class="inner-box">
      <h3>🔎 메이트 찾아보기</h3>
      <form action="{%url 'articles:search' %}" class="search d-flex" role="search" method="">
        <input type="text" style="display:none">
        <input type="password" style="display:none">
        <input class="form-control me-2" name="searched" type="search" placeholder="키워드를 입력해주세요." aria-label="Search">
        <button class="btn pos-btn" type="submit">검색</button>
      </form>
    </div>
  </section>
  <section class='container'>
    <div class="recommended">
      <div class="mt-3 mb-5">
        <h3>#<b>{{ user.mbti }}</b>
          인 당신을 위한 산책 메이트</h3>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 gx-4">
          {% if matched_user %}
            {% for user_info in matched_user %}
              <div class="col mb-5">
                <div class="card h-100">
                  <img class="card-img-top" src="{{ user_info.get_photo_url }}" alt="프사"/>
                  <div class="card-body py-4">
                    <h5 class="fw-bold text-center">{{ user_info.nickname }}</h5>
                  </div>
                  <div class="card-footer bg-light p-4 pt-0 border-top-0 bg-transparent">
                    <a class="btn btn-outline-dark text-center" href="{% url 'accounts:detail' user_info.pk %}">자세히보기</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="none-box">추천 유저가 없어요<i class="fa-regular fa-face-frown"></i>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="mt-3 mb-3">
        <h3>#Manner Stack Overflow! 산책매너 좋은 유저</h3>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 gx-4">
          {% if hot_user %}
            {% for hot_info in hot_user %}
              <div class="col mb-5">
                <div class="card h-100">
                  <img class="card-img-top" src="{{ hot_info.get_photo_url }}" alt="프사"/>
                  <div class="card-body py-4">
                    <h5 class="fw-bold text-center">{{ hot_info.nickname }}</h5>
                  </div>
                  <div class="card-footer bg-light p-4 pt-0 border-top-0 bg-transparent">
                    <a class="btn pos-btn text-center" href="{% url 'accounts:detail' hot_info.pk %}">자세히보기</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="none-box">추천 유저가 없어요<i class="fa-regular fa-face-frown"></i>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!--recommended-->
  </section>
{% endblock content %}
{% block script %}{% endblock script %}
