{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}

{% block title %}
  | 자주 묻는 질문{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}
  {% block section %}
    <section class='home'>
      <div class="inner-box">
        <h4>자주 묻는 질문</h4>
      </div>
    </section>
    <section class="container">
      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">커뮤니티 가이드라인</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">산책메이트는 따뜻한 대화가 오고가는 사회를 만들기 위해 노력하고 있어요.<br>
              산책 이웃을 향한 당신의 따뜻한 관심과 애정은 산책메이트의 가장 큰 동력이예요.<br>
              산책메이트를 사용하는 사용자 모두가 함께 커뮤니티 가이드라인을 지키며 따뜻한 커뮤니티를 함께 만들어요.<br>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">산책메이트를 함께 사용하는 커뮤니티 멤버를 신뢰하고 존중하세요</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">
              <span class="fw-bold">만남이 따뜻함이 될 수 있도록 산책매너를 지켜요</span><br>
              산책메이트 긍정적이고 다양성을 존중하는 커뮤니티 문화를 조성하고자 합니다.
              <br>
              모두의 시간은 소중해요. 약속은 반드시 지켜요. 절대로 중간에 연락이 끊기는 일이 없도록 해요.</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">사용자 가치를 최우선으로 생각해요</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">산책메이트에서 나와 맞는 메이트를 만나 보아요. 따뜻한 배려를 베풀어 주세요.<br>
              여러분의 작은 친절,관심,용기가 산책메이트 이웃에게 큰 감동을 줄 수 있어요.<br>
              <span class="fw-bold">작성자 매너</span><br>
              정확한 공원 위치, 시간을 작성해주세요.<br>
              지나친 요구는 말아 주세요.<br>
              테러 단체, 범죄 조직, 인종/종교, 성관련 등에 대한 적대 단체를 옹호하거나 지지하는 말은 삼가 주시기 바랍니다.<br>
              감사 인사로 잘 마무리해주세요.<br>
              <span class="fw-bold">댓글 매너</span><br>
              자기PR시대! 자신의 장점을 어필해보세요.<br>
              자신을 띄우기 위해 남을 폄하,비하하는 댓글은 삼가주세요.<br>
              작성자의 선택의 감동하며, 생성된 약속의 어기지 말아주세요 .<br>
              즐거운 산책으로 잘 마무리해주세요.<br>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">산책메이트에서 지켜야 할 매너</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">산책메이트의 모든 산책 메이트구 하기는 기본적으로 커뮤니티 당사자들끼리 자유롭게 진행할 수 있어요. 가급적 산책메이트는 커뮤니티에 개입하지 않아요.<br>
              그래서 약속 장소 선정, 그 외 다른 이견이 있어도 당사자들끼리 직접 대화하여 해결하는 것을 권장해요.<br>
              하지만 대화로 해결하기 어렵다면 산책메이트는 아래와 같은 정책을 따르고 있어요.<br>
              약속 장소 선정 중에 분쟁이 발생하더라도 산책메이트의 기본매너를 지키는 건 잊지 말아 주세요. 웹사이트 너머 나와 똑같은 사람이 있다는 것을 기억해주세요.<br>

              <span class="fw-bold">메이트에게는 이런 권리가 있어요.</span><br>
              메이트의 무리한 요구는 거절할 권리가 있어요. 매너없는 내용에 답하지 않을 권리도 있어요.
              <br>
              <span class="fw-bold">메이트에게는 이런 의무도 있어요.
              </span><br>
              우리는 모두 산책메이트의 주민이에요. 산책메이트의 메이트매너를 지켜주세요.<br>
              산책 약속 후 취소하는 것을 지양해주세요. 내 시간이 소중한 만큼, 상대방의 시간도 소중히 여겨주세요.
              <br>
              약속 관련 문제가 생겼다고 해서 약속과 관련 없는 욕설/비방을 삼가세요. 약속과 관련 없는 욕설/비방 등의 비매너 행위를 할 경우, 제재당할 수 있어요.
              <br>

            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">메인 화면</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">
              1. 산책해요에 있는 구인글 검색이 가능합니다.<br>
              &nbsp 1-1. 제목, 날짜, 글내용등 글의 일부를 입력하게 되면 해당하는 글들의 리스트를 보여줍니다.<br>
              2. 회원가입할때 입력한 나의 MBTI와 궁합이 잘맞는 사용자들을 보여줍니다 .<br>
              3. 매너온도가 좋은 사용자들을 보여줍니다.
              <br>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">공원 찾기</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">1. 내위치 버튼을 통해 현재 나의 위치를 지도를 통해 볼 수 있다.<br>
              2. 지도를 통해 나의 위치에서 가까운 공원들의 위치를 확인할 수 있다.<br>
              3. 현재 위치가 아닌 가고 싶은 공원을 검색할 수 있다.<br>
              4. 지도위에 나타난 마커들을 통해 상세정보를 확인할 수 있다.<br>
              5. 산책하기 버튼을 통해 커뮤니티로 이동해서 산책메이트를 구하는 글을 올릴 수 있다.
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">산책 메이트 구하기</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">1. 산책하고 싶은 공원을 찾는다.<br>
              2. 산책하기 버튼을 통해 커뮤니티로 이동해서 산책메이트를 구하는 글을 올릴 수 있다.<br>
              3. 제목, 날짜, 시간, 애완동물 유/무, 함께 산책하고 싶은 인원, 내용을 통해 글을 작성할 수 있다.<br>
              4. 댓글을 통해 함께 산책 하고 싶은 인원(들)을 직접 선정해 산책할 수 있다.
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">메이트 찾아보기</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">산책해요에 있는 구인글 검색이 가능합니다.<br>
              제목, 날짜, 글내용등 글의 일부를 입력하게 되면 해당하는 글들의 리스트를 보여줍니다.<br>
              원하는 검색조건을 통해 나와 맞는 산책메이트를 만나보아요.<br>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">산책메이트는 어떻게 선정되는 건가요?</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">산책메이트는 커뮤니티 글 작성자가 직접 선정합니다.<br>
              댓글을 통해 함께하고 싶은 마음을 어필해서 선정될 수 있습니다.<br>
              작성자와 MBTI의 궁합이 좋은 경우, 원하는 상대방의 스타일 등을 통해 작성자가 함께 산책하기를 통해 선정될 수 있습니다.<br>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">매너온도는 무엇인가요?</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">
              <span class="fw-bold">자신을 나타내는 지표이기도 합니다.</span><br>
              직접 만나보지 않고 프로필을 통해 자신과 함께할 산책메이트를 구하기 위해 볼 수 있는 수치입니다.<br>
              팔로우를 통해 매너온도를 높일 수 있습니다.<br>
              특정 사용자(들)에게 차단을 당하게 되면 매너온도가 떨어지니 매너를 지키며 이용하시면 됩니다.<br>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">차단 기능은 무엇인가요?</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">
              커뮤니티의 글을 통해서, 직접 함께 산책을 통해 느낀 감정들을 가지고 상대방을 차단합니다.<br>
              차단을 하게되면 차단한 대상의 글은 볼 수 없게 됩니다.<br>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">찾고자 하는 공원이 없어요.</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">산책메이트는 공공데이터를 통해 데이터를 가져옵니다.<br>
              18210개의 전국 공원데이터를 가지고 있지만, 사용자가 원하는 공원의 데이터가 없을 수 있습니다.<br>
              양해 부탁드리며, 근처 다른 공원을 이용해 주시면 감사하겠습니다.<br>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown" style="display: contents;">
        <a class="nav-link dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:60px;">산책만 하는건가요?</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">
              <span class="fw-bold">꼭 정해진건 아닙니다.</span><br>
              함께 산책을 통해 마음이 맞으면 서로 합의하에 더 나아갈 수 있습니다.<br>
              연락처 공유, 산책 후 간단한 치맥, 다른 운동등 다양하게 하실 수 있습니다.<br>
              산책메이트는 근처 공원에서 마음이 맞는 사람과 산책하는걸 추구합니다.<br>
            </a>
          </li>
        </ul>
      </li>
    </section>
  {% endblock section %}

{% endblock content %}