{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">

  <head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/base/laugh.ico' %}">
    <title>산책메이트
      {% block title %}{% endblock title %}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4402be0952.js" crossorigin="anonymous"></script>
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>

  <body data-spy="scroll" data-target="#scroll-spy">
    <header>
      <!-- place navbar here -->
      <nav class="nav">
        <div class="container">
          <div class="logo">
            <a href="#">산책메이트로고</a>
          </div>
          <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
              <li>
                <a href="#">공원정보?</a>
              </li>
              <li>
                <a href="#">구해요</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
              <li class="pf_list">
                <a href="{% url 'accounts:' %}">프로필</a>
              </li>
            </ul>
          </div>
          <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
          </span>
        </div>
      </nav>
      <!-- /.fixed navigation -->
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script>
      $('.navTrigger').click(function () {
        $(this).toggleClass('active');
        console.log("Clicked menu");
        $("#mainListDiv").toggleClass("show_list");
        $("#mainListDiv").fadeIn();

      });
    </script>
    {% block script %}{% endblock script %}
  </body>

</html>